<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Signin Page - NICA</title>

  <link href="assets/img/put/Logo white.jpg" rel="icon">
  <link href="assets/img/put/Logo white.jpg" rel="apple-touch-icon">

  <!-- NiCA Core CSS -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">

  <div class="container"><img class="mb-4" src="/assets/img/put/Logo white.jpg" alt="" width="79" height="87"> <br>
    <div class="row">
      <div class="col-md-6"> 
        <div class="card">
          <div class="card-title"><br>
            <h1 class="h3 mb-3 fw-normal">Transfer Coins Here</h1>
          </div><br>
          <div class="card-body">
            <form action="/transfer">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Enter Username </label>
              </div>
              <div class="form-floating">
                <select name="" id="" class="form-control" id="floatingInput">
                  <option value="disabled"></option>
                  <option value="">Kudi Kofoworola</option>
                  <option value="">Mariam Abu</option>
                  <option value="">Seun Balogun</option>
                  <option value="">Blessing Okoro</option>
                </select>
                <label for="floatingInput">Select Your Contestant</label>
              </div>
              <div class="form-floating">
                <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Enter Amount</label>
              </div>
              <p class="mt-5 mb-3 text-muted">Kindly note that mistakenly transfered Nica Coins are unreversible</p>

              <button class="btn btn-lg btn-primary" type="submit">Transfer NiCA Coin</button>
            </form> <br>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-title"><br>
            <h1 class="h3 mb-3 fw-normal">Vote Here</h1>
          </div>
          <div class="card-body">
            <form action="/convert/vote" method="POST">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" value="<%= userData.username %>">
                <label for="floatingPassword">Username : <small><%= userData.username %></small></label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingPassword" placeholder="<%= userData.username %>">
                <label for="floatingPassword">Coin Balance <%= userData.account_balance %></label>
              </div>
              <div class="form-floating">
                <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Enter Amount</label>
              </div>
              <p class="mt-5 mb-3 text-muted">Kindly note that a vote is 50 Nica Coins </p>

              <button class="btn btn-lg btn-primary" type="submit">Vote Now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <p class="mt-5 mb-3 text-muted">&copy; NICA NIGERIA</p>
    <a href="/dashboard">Back to Home</a>
  </div>




</body>

</html>